<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <environments default="local">
        <environment id="local">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="${DB_URL}"/>
                <property name="username" value="${DB_USER}"/>
                <property name="password" value="${DB_PASSWORD}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="org.example.backendPlayground.db.mappers.UserMapper"/>
        <mapper class="org.example.backendPlayground.db.mappers.PostMapper"/>
    </mappers>
</configuration>
